<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kirjautuminen</title>
    </head>
    <body>
        <div class="header">
            <h1> Kirjaudu sisään </h1> <br>
        </div>
        <div class="content">
            <form action="/login" method="POST">
                <b> Käyttäjänimi</b> <br>
                <input type="text" name="username"> <br>
                <br>
                <b> Salasana: </b> <br>
                <input type="password" name="password"> <br>
                <input type="submit" value="Kirjaudu sisään">
            </form>
        </div>
        
        <br>
        <nav>
            Eikö sinulla ole vielä käyttäjää?
            <a href="/signin"> Luo tunnus </a>
        </nav>
    </body>  
</html>