<!DOCTYPE html>
<html>
    <body>
        <h1> {{name[0]}} </h1>
        <br>
        {% for thread in threads %}
        <a href="/thread/{{thread[2]}}">{{thread[0]}} ({{thread[3]}} messages)<i> by {{thread[1]}}</i></a>
        <hr>
        {% endfor %} <br>
        <h2>Tee uusi ketju: </h2>
        <form method="POST">
            ketjun nimi: <br>
            <textarea name="name" rows="1" cols="40"></textarea>
            <br>
            <input type="submit" value="Lähetä">
        </form> <br>
        <a href="/directs"> Yksityisviestit</a><br>
        <br>
        <a href="/login"> Kirjaudu sisään</a> <br>
        <br>
        <a href="/logout"> Kirjaudu ulos </a><br>
        </body>
</html>
